.paper {
  max-width: 350px;
  min-width: 350px;
}

.todoListsContainer {
  justify-content: space-between;

  .todoListContainer {
    .listItems {
      padding-block: 20px;

      .taskContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
          transition: 0.3s;
        }


        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .buttonContainer {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      > .button {
        &:hover {
          transform: scale(1.1);
          transition: 0.2s ease-in-out;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }


  }

  .isDone {
    opacity: 0.6;
  }
}




