.todoListContainer {

  .buttonContainer {
    display: flex;
    gap: 20px;

    > .button {
      &:hover {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.6;
}
